<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
    <mapper namespace="wish">
    
    <resultMap type="shopping.dto.WishDTO" id="wishResultMap">
    <result property="wishKey" column="wish_key"/>
    <result property="productKey" column="product_key"/>
    <result property="memberId" column="member_id"/>
    <result property="regDate" column="reg_date"/>
    <result property="productName" column="product_name"/>
    <result property="productPrice" column="product_price"/>
    <result property="productDiscountPrice" column="product_discount_price"/>
    <result property="productImageUrl" column="product_image_url"/>
</resultMap>
    

<!-- 유저가 찜한 상품 목록을 조회하는 기능 -->
<select id="selectWishListByMemberId" parameterType="String" resultMap="wishResultMap">
    SELECT 
        w.wish_key,
        w.product_key,
        w.member_id,
        w.reg_date,
        p.product_name,
        p.product_price,
        p.product_discount_price,
        p.product_image_url
    FROM 
        wish w
        JOIN product p ON w.product_key = p.product_key
    WHERE
        w.member_id = #{memberId}
</select>

<!-- 유저가 찜한 상품을 카트에 추가하는 기능 -->
<insert id="insertCartByWishKey" parameterType="int">
    INSERT INTO cart (member_id, product_key, product_name, product_price, product_discount_price, product_quantity, product_image_url)
    SELECT
        w.member_id,
        w.product_key,
        p.product_name,
        p.product_price,
        p.product_discount_price,
        1,
        p.product_image_url
    FROM
        wish w
        JOIN product p ON w.product_key = p.product_key
    WHERE
        w.wish_key = #{wishKey}
</insert>

<!-- 유저가 찜한 상품을 찜 목록에서 삭제하는 기능 -->
<delete id="deleteWishByWishKey" parameterType="int">
    DELETE FROM wish WHERE wish_key = #{wishKey}
</delete>
</mapper>
