<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
    <mapper namespace="wish">
    <!-- insert wish -->
    <insert id="insertWish" parameterType="shopping.dto.WishDTO">
        INSERT INTO WISH(WISH_KEY, ID, PRODUCT_ID)
        VALUES (WISH_SEQ.NEXTVAL, #{id}, #{product_id})
    </insert>

    <!-- delete wish -->
    <delete id="deleteWish" parameterType="int">
        DELETE FROM WISH
        WHERE WISH_KEY = #{wish_key}
    </delete>

    <!-- get wish list -->
    <select id="getWishList" parameterType="String" resultType="shopping.dto.WishDTO">
        SELECT WISH_KEY, ID, PRODUCT_ID
        FROM WISH
        WHERE ID = #{id}
        ORDER BY WISH_KEY DESC
    </select>
    </mapper>